<div class="page-header">
  <div class="page-header__controls">
    <%= link_to recurrings_path, class: "btn btn--round" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left">
        <path d="m12 19-7-7 7-7"/>
        <path d="M19 12H5"/>
      </svg>
    <% end %>
  </div>
</div>

<section>
  <div class="detailed-card">
    <div class="detailed-card__header">
      <h3>Edit <%= @recurring.name %></h3>
    </div>
    <div class="detailed-card__inner">
      <%= render 'recurrings/form', recurring: @recurring %>

      <div class="form__input-container external-destroy">
        <%= button_to "Destroy", recurring_path(@recurring), method: :delete, class: "btn btn--destroy" %>
      </div>
    </div>
  </div>
</section>
