<div class="page-header">
  <div class="page-header__controls">
    <%= render 'partials/back', path: recurrings_path %>
  </div>
</div>

<section>
  <div class="detailed-card">
    <div class="detailed-card__header">
      <h3>New recurring</h3>
    </div>
    <div class="detailed-card__inner">
      <%= render 'recurrings/form', recurring: @recurring %>
    </div>
  </div>
</section>