<div class="hero">
  <%= link_to buckets_path, data: { controller: "hero" } do %>
    <%= image_tag "/logo.webp", height: 32, width: 32, class: "header__image" %>
    <h1>Budget<span>Fast</span></h1>
  <% end %>
</div>
