<div class="page-header">
  <div class="page-header__controls">
    <%= render 'partials/back', path: buckets_path %>
  </div>
</div>

<section>
  <div class="detailed-card">
    <div class="detailed-card__header">
      <h3>Edit bucket</h3>
    </div>
    <div class="detailed-card__inner">
      <%= render 'buckets/form', bucket: @bucket %>

      <div class="external-destroy">
        <%= button_to "Destroy", bucket_path(@bucket), method: :delete, class: "", id: dom_id(@bucket, :destroy) %>
      </div>
    </div>
  </div>
</section>

