.authentication__container {
    max-width: var(--size-xs);
    margin-inline: auto;
    padding-block-start: var(--size-10);

    & .form__action-container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*align-items: center;*/
        /*padding-block-start: var(--size-4);*/
    }

    & .form__action-container a {
        /*margin-inline-start: var(--size-3);*/
        color: var(--indigo-8);
        font-size: var(--font-size-sm);
        padding-block-end: var(--size-2);

        &:hover {
            opacity: 90%;
        }
    }
}

@media (min-width: 480px) {
    .authentication__container {
        & .form__action-container {
            justify-content: space-between;

            & a:last-of-type {
                padding-block-end: 0;
            }
        }
    }
}
