.card {
    --card-background: var(--background-primary);
    --card-border-inner: var(--black-10);
    --card-border-outer: #ffffff4d;
    z-index: 1;
    padding: var(--size-2);
    /*   border: var(--border-size-1) solid var(--black-5); */
    border-radius: 1.5rem;
    box-shadow: inset 0 0 0 1px var(--black-5), var(--shadow-1),
    inset 0 0 1px 1px #ffffff2A;

    & > div {
        background: var(--card-background);
        padding: var(--card-padding);
        border-radius: var(--radius-3);
        border: var(--border-size-1) solid var(--card-border-inner);
        /*box-shadow: var(--shadow-4);*/
        box-shadow: 0 15px 30px -12px rgb(0 0 0 / 0.25);
        height: 100%;

    }
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-3);

    & a:has(svg) {
        display: block;
        color: var(--gray-7);
        padding: var(--size-2);
        border-radius: var(--radius-round);
        margin: var(--size-000);
    }

    & a:has(svg):hover {
        background-color: var(--gray-1);
    }

    & svg {
        width: var(--size-4);
        height: var(--size-4);
    }

    & h2, h3 {
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-6);
    }
}

.card__detail {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: var(--size-2);
    /*color: var(--gray-7);*/

    &:not(:last-of-type) {
        margin-bottom: var(--size-1);
    }

    & svg {
        width: var(--size-3);
        height: var(--size-3);
        color: var(--gray-6);
    }

}

.detailed-card {
    --detailed-card-background: var(--gray-0);
    --detailed-card-inner-background: var(--background-primary);
    background-color: var(--detailed-card-background);
    padding: var(--size-1);
    border-radius: var(--radius-3);

    &:not(:first-of-type) {
        margin-top: var(--size-3);
    }

    & .detailed-card__header {
        padding: 0.75rem;
        margin-block-end: 0.125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > h3 {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-5);
            line-height: var(--font-lineheight-1);
        }
    }

    & .detailed-card__actions {
        display: flex;
        align-items: center;
        gap: var(--size-2);


    }


    & .detailed-card__inner {
        padding: var(--size-3);
        background-color: var(--detailed-card-inner-background);
        /*box-shadow: inset 0 0 0 var(--border-size-1) var(--black-10);*/
        border-top: 1px solid var(--black-75);
        border-left: 1px solid var(--black-10);
        border-right: 1px solid var(--black-10);
        border-bottom: 1px solid var(--black-125);
        border-radius: 0.75rem;

        &:has(.bucket__transaction-list) {
            padding: 0;
        }
    }
}

/*@media (prefers-color-scheme: dark) {*/
/*    .card {*/
/*        --card-background: var(--gray-10);*/
/*        --card-border-inner: var(--gray-8);*/
/*    }*/

/*    .detailed-card {*/
/*        --detailed-card-background: var(--gray-10);*/
/*        --detailed-card-inner-background: var(--gray-9);*/
/*    }*/
/*}*/

