:where(.form__input-container) {
    display: flex;
    flex-direction: column;

    & label {
        font-size: var(--font-size-sm);
        display: block;
    }

    & :where(input, select) {
        width: 100%;
    }

    & > :not(:first-child) {
        margin-top: var(--size-2);
    }

    /*& input:not([type="submit"]) {*/
    /*    margin-top: var(--size-2);*/
    /*}*/
}


:is(.form__input-container:not(:first-of-type)) {
    margin-block-start: var(--size-4);
}

.form__input-error {
    margin-top: var(--size-2);
    font-size: var(--font-size-sm);
    color: var(--red-7);
}

.field_with_errors {
    & :where(input, select) {
        color: var(--red-9);
        background-color: var(--red-1);
    }
}

:where(select) {
    padding-block: var(--size-2);
    padding-inline: 0.75rem var(--size-6);
}

:where(input:not([type=range]),textarea) {
    padding-block: var(--size-2);
    padding-inline: 0.75rem;
}

:is(input, select) {
    height: 40px;
}

/*input[type=date] {*/
/*    height: 40px;*/
/*}*/



select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right var(--size-2) center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    /* padding-right: 2.5rem; */
    /* -webkit-print-color-adjust: exact; */
    print-color-adjust: exact;
}

.external-destroy {
    display: none;
    /*margin-block-start: var(--size-2);*/

    /*& button {*/
    /*    width: 100%;*/
    /*}*/
}

.form__action-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    margin-top: var(--size-4);
}

@media (min-width: 480px) {

    :is(input, select) {
        font-size: var(--font-size-sm);
    }

    .form__action-container {
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    /*input[type=date] {*/
    /*    height: 37px;*/
    /*}*/
}

.default__form-container {
    & .form__input-container:not(:first-of-type) {
        margin-block-start: var(--size-4);
    }
}
