<div class="page-header">
  <div class="page-header__total">
    <p>Total</p>
    <p><%= number_to_currency @transactions.sum(&:amount) %></p>
  </div>

  <div class="page-header__controls">
    <%= render 'partials/back', path: buckets_path %>
    <%#= link_to "Insights", recurrings_insights_path, class: "btn" %>
    <%= link_to "Add transaction", new_transaction_path, class: "btn btn--primary" %>
  </div>
</div>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <p>
        <%= transaction.name %>
      </p>
    </li>
  <% end %>
</ul>
